.listContainer {
  display: flex;
  flex-direction: column;
  width: 650px;
  /* height: auto; */
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  margin: 2rem;
}

.listHeader {
  display: flex;
  flex-direction: column;

  width: 100%;
  background-color: rgba(199, 230, 255, 0.8);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.headerTitle {
  width: 250px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.listElement {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.3s;
}
.listData {
  display: flex;
  padding: 1rem;
}

.listElement:hover {
  background-color: rgba(240, 240, 240, 0.5);
  border-radius: 0;
}

.listItem {
  width: 250px;
}
.sortButton {
  border: none;
  background: none;
}
.sortButton:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.2);
}
.sortButton svg {
  height: 1rem;
  width: 1rem;
}
.listHeaderTopRow {
  display: flex;
}
.listHeaderFilterRow {
  display: flex;
  align-items: center;
}
.filterField {
  width: 250px;
  padding: 0.5rem 0;
  position: relative;
}
.filterInput {
  width: 150px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
}
.filterInput:focus {
  border-color: #007bff;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}
.filterButton {
  background: none;
  border: none;
  position: absolute;
  top: 15px;
  right: 105px;
}
.filterButton:hover {
  cursor: pointer;
}
.filterButton svg {
  height: 1.3rem;
  width: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
}
.genderButton {
  background: none;
  border: none;
}
.genderButton:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.2);
}
.genderButton svg {
  height: 1.3rem;
  width: 1.3rem;
}
