.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  position: sticky;
  top: 0;
  z-index: 1;
  position: relative;
}
.header[data-darkmode="true"] {
  background-color: #000000d3;
  border-bottom: 2px solid #000000;
  color: rgba(255, 255, 255, 0.7);
}
.header[data-darkmode="false"] {
  background-color: #f0f0f0;
  border-bottom: 2px solid #ddd;
  color: rgb(131, 28, 228);
}
.header h1 {
  font-size: 24px;
}
.displayMode {
  position: absolute;
  top: 75px;
  left: 20px;
}
svg {
  height: 2rem;
  width: 2rem;
  transition: 0.3s;
}
svg:hover {
  transform: scale(1.1);
}
.cleanButton {
  border: none;
  background: none;
}
.rightBlock {
  display: flex;
  gap: 2rem;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .displayMode {
    top: 5px;
    left: 5px;
  }
  .logOutButton {
    position: absolute;
    top: 10px;
    right: 5px;
  }
}
