body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.mainPageContainer {
  display: flex;
  justify-content: center;
  height: 100%;
}
main[data-darkmode="true"] {
  min-height: 94vh;
  background-color: rgba(0, 0, 0, 0.7);
}

main[data-darkmode="true"] > section {
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 1rem;
}
main[data-darkmode="true"] > div {
  background-color: rgba(0, 0, 0, 0.35);
}
@media (max-width: 768px) {
  .mainPageContainer {
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
  }
}
